<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Document</title>

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script> -->
  <script src="bower_components/angular/angular.min.js"></script>
  <!-- modules -->
  <script src="./app/my-app.module.js"></script>
  <!-- services -->
  <script src="./app/feed.service.js"></script>
  <!-- controllers -->
  <script src="./app/main.contoller.js"></script>
  <style>
    .red {
      color: red;
    }
    .active {
      border: 1px solid #000;
    }
  </style>
</head>
<body ng-controller="MainController">
<input ng-model="name" type="text" name="filter" class="filter">
  <ul>
    <li ng-repeat="(i, item) in dummy | orderBy:name | filter:name | limitTo:pageSize:firstItem">
      <input type="checkbox" ng-checked="item.isActive">
      <div><span>Id: </span>{{item.id + 1}}</div>
      <div><span>Name: </span>{{item.name}}</div>
      <div><span>Balance: </span>{{item.balance}}</div>
      <div><span>Age: </span>{{item.age}}</div>

      <div>
        <img ng-src="{{item.picture}}" alt="img_{{$index}}">
      </div>
      <hr>
    </li>
  </ul>

  <input ng-disabled="!(currentPage > 1)" ng-click="previousPage()" value="Previous page" name="Previous" type="submit" ng-cloak>
  <ul class="pager page-{{currentPage}}">
    <li ng-click="gotoPage(page)" class="page-number page-number-{{page}}" ng-repeat="page in pages" ng-cloak>{{page}}</li>
  </ul>
  <input ng-disabled="!(currentPage < pages.length)" ng-click="nextPage()" value="Next page" name="Next" type="submit" ng-cloak>

</body>
</html>








